/* @override http://looce.com/ud/style.css */

html, body{
	width:300px;
	margin:0 auto 0;
}
body{
	font-family: "Helvetica Neue", Helvetica, Arial,  Geneva, sans-serif;
	color: #666666;
	font-size: 62.5%;
}

#wrapper {
	padding-top:40px;
	padding-bottom:10px;
}
#description {
	width: 300px;
	margin: 0 auto;
	font-size: 1.8em;
}
a {
	font-weight: bold;
	color: #555555;
	text-decoration: none;
}

a:hover {
	color: #222222;
}

#result {
	text-align: center;
	font-size: 9em;
	font-weight: bold;
	margin-bottom:20px;
}

.tie {
	font-size: 4.2em !important;
}

.button {
	font-size: 1.8em;
	text-align: center;
	display: block;
}